.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.back{
  background-color: aqua;
}
.sec-text{

  text-align: center;
 
  
}
.active{
  color: #61dafb;
}
.search{
text-align: center;
margin-top: 90px;
box-shadow:  solid #c4755d ;
}
.search-input{
  margin: 30px 0;
  padding:  5px 10px;
  border-radius: 10px solid;
  box-shadow: #282c34;
  border-radius: 5% ;
}
ul {
  list-style-type: none;
  margin: 5;
  padding: 2;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
 
}

.pk{
  display: block;
  color: white;
  text-align: center;
  padding:20px 120px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li {
  background-color: #111;
}
